@import url("font-awesome.css");
@import url("font-awesome.min.css");
body {
    background-image: url(../images/background_no_repeat.png);
    background-repeat: repeat-x;
    background-color: transparent;
    background-position: center top;
    background-color: #ccc;
    font-family: Helvetica, Georgia, Platino Linotype, Serif;
}

.more {
    text-align: right;
}

#header {
}

#homeCopy {
    background-color: #000;
    color: #f1f1f1;
    font-family: Georgia;
    font-size: 16px;
    font-style: italic;
    line-height: 22px;
    margin-bottom: 2px;
    padding: 10px;
}

#homeCopy ul {
    top: 0px;
}

#Main {
    width: 710px;
    float: right;
    font-family: Helvetica;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.5em;
    padding-bottom: 25px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    min-height: 450px;
}

#Main div {
    margin: .25em 1em;
    background: #a1a1a1;
    box-shadow: 3px 3px 3px #4d4d4d;
}

#Main div h1 {
    margin:  0;
    padding:  .25em;
    font-family:  Helvetica;
    background: #5e0009;
}

#Main div p {
    padding:  .5em;
    margin: 0;
}

#Main a {
    color:  #5e0009;
}

#LeftNav {
    width: 225px;
    float: left;
}

#Navigation {
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#Navigation li {
    background-color:  #5e0009;
    color: #fff ;
    margin: 5px;
    padding: 10px;
    font-size: 20px;
    font-family: Helvetica;
    text-align: center;
}

#Navigation li:hover {
    background-color: #660D16;
    cursor: pointer;
}

#Navigation a {
    text-decoration: none;
}

.largeButton {
    width: 300px;
    height: 50px;
    background-color: #BEC0C2;
    font-family: Helvetica;
    font-size: 18px;
    font-weight: bold;
    color: black;
    text-align: center;
    padding: 10px;
    margin:  5px;
    border: 1px solid white; /*This is here as a place holder so the page doesn't "jump" when the button is hovered*/
}

.btnText {
    width: 225px;
    float: right;
}

.img {
    max-height: 50px;
    max-width: 75px;
    margin: auto;
}

.imgWrapper {
    width: 75px;
    float: left;
}

.largeButton:hover {
    cursor: pointer;
    border: 1px solid #333;
}

.noDec {
    text-decoration: none;
}

.vAlign {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.homeTutorialWrapper {
    position: relative;
    float: left;
    left: 0px;
    width: 960px;
    padding-top: 4px;
    padding-bottom: 0px;
    
}

.hr {
    background-image: url(../images/tutorials/tutorialWrapperBackground-small.png);
    background-repeat: repeat-x;
    width: 960px;
    height: 11px;
}

#photo img {
    max-width: 250px;
}

.Welcome{
    padding:  8px;
    margin-bottom:  1.2em;
    line-height:  24px;
    font-family: helvetica;
    height: 170px;
}

.Welcome ul {
    list-style: circle;
    padding-left: 25px;
    padding-top: 5px;
    line-height: 30px;
}

#Welcome-Left {
    float: left;
    width: 400px;
    line-height: 25px;
    padding:  10px;
}

#Welcome-Right {
    float: right;
    width: 500px;
}

.post {
    margin-top: 15px;
    border-bottom: 3px;
    border-bottom-style: solid;
    border-bottom-color: #f0f0f0;
    margin-left: 10px;
}

.post .title {
    font-size: 20px;
    font-family: Helvetica;
    line-height: 22px;
}

.post .title a:link {
    color: #222;
}

.post-meta {
    margin: .5em 0 .3em 0;
    font: 1em/1em sans-serif;
    color: #999;
    font: 11px/11px "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

#rightColumn .post-meta {
    text-align: center;
}

.post-meta a {
    color: #999;
    text-decoration: none;
}

.post-meta a:hover {
    color: #5e0009;
    text-decoration: underline;
}

.post-meta .small {
    text-transform: lowercase;
}

.post {
    margin-bottom: 5px;
}

.entry {
}

.entry p {
    font-size: 14px;
    font-family: Helvetica;
    line-height: 22px;
    text-indent: 0px;
    margin-bottom: 1.2em;
}


.entry img, img.thumbnail {
    padding: 5px;
    border: 1px solid #e6e6e6;
    background: #F8F8F8;
}

.alignleft {
    float: left;
    width: auto;
    margin: 5px 15px 15px 0;
}

img.aligncenter {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.contactButton {
    background-image: url(../images/rightColumnContactBG.png);
    background-repeat: repeat-x;
    padding: 10px;
}

.textHeader {
    background-image: url(../images/rightColumnOtherBg.png);
    background-repeat: repeat-x;
    font-size: 20px;
    font-family: Helvetica;
    height: 26px;
    line-height: 22px;
    text-align: center;
    padding-top: 7px;
}

.sidePanelHeader {
    background-image: url(../images/sidePanelH3Header.png);
    background-repeat: repeat-x;
    height: 26px;
    padding-top: 2px;
    text-align: center;
    padding-top: 12px;
    font-size: 15px;
}

/*
.homeTutorialWrapper img {
	border:3px;
	border-bottom-style:solid;
	border-color:#ccc;
}
*/
.left1 {
    position: relative;
    float: left;
    left: 0px;
    width: 270px;
    font-family: Helvetica;
    font-style: italic;
    line-height: 22px;
    font-size: 12px;
    text-align: center;
}

.left1 a {
    color: #333;
}

.left1 h2 {
    font-size: 16px;
    font-family: Helvetica;
    font-style: italic;
    line-height: 22px;
}

.left2 {
    position: relative;
    float: left;
    left: 10px;
    width: 220px;
}

.left3 {
    position: relative;
    float: left;
    left: 20px;
    width: 220px;
}

.right {
    position: relative;
    float: right;
    right: 0px;
    width: 220px;
}

#bar {
    font-family: Helvetica, Verdana, Geneva, sans-serif;
    font-size: 12px;
    color: #FFF;
    text-align: center;
    margin-top: 10px;
}

h1 {
    font-size: 20px;
    font-weight: 800;
}

h2 {
    font-size: 20px;
    font-weight: 800;
    font-family: Helvetica;
    padding-bottom: 6px;
}

h3 {
    font-size: 16px;
    font-family: Helvetica, Verdana, Geneva, sans-serif;
    padding-top: 10px;
    padding-bottom: 6px;
}

.spanColumns {
    column-span: all;
    -webkit-column-span: all;
}


.dc-1 {
    font-size: 50px;
    color: #207ab8;
    float: left;
    line-height: 0px;
    margin: 5px 10px 0px 0px;
}

.dc-2 {
    color: #fff;
    float: left;
    font-size: 40px;
    background: #5e0009;
    margin: 0px 15px 5px 0px;
    padding: 5px 10px 0px;
}

.navText {
    font-size: 18px;
}

.logo {
    width: 328px;
    height: 160px;
    margin-top: -110px;
    margin-left: 10px;
    float: left;
    position: absolute;
}

#headerBar {
    height: 5px;
    background-color: #333;
}

#navWrap {
    width: 960px;
    margin-right: auto;
    margin-left: auto;
}

#topNav {
    float: right;
    text-align: center;
    background-image: url(../images/topNavBack.png);
    background-repeat: repeat-x;
    background-color: transparent;
    padding: 3px;
    width: 312px;
    height: 24px;
    font-family: Helvetica, Verdana, Arial, San Serif;
    font-size: 12px;
    color: #fff;
}

#wrapper {
    width: 960px;
    background-color: #fff;
    margin-top: 120px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#topNav ul {
    margin-top: 2px;
    padding-left: 0px;
}

#topNav ul li {
    display: inline;
}

#topNav a {
    color: #D0D0D0;
    text-decoration: none;
    padding: 8px;
}

#topNav a:hover {
    color: #fff;
}

.searchBlock {
    width: 315px;
    height: 60px;
    margin-top: -70px;
    margin-left: 645px;
    float: right;
    position: absolute;
}

.search label {
    visibility: hidden;
}

.searchField {
    width: 200px;
    border: 1px solid #DBDBDB;
    padding: 10px;
    color: #fff;
    background: url(../images/search_icon.png) no-repeat 10px #8B8D8E;
    padding-left: 30px;
}

.submitButton {
    background-image: url(../images/search_button_background.png);
    background-repeat: no-repeat;
    background-color: transparent;
    height: 38px;
    width: 68px;
    text-indent: -999em;
    border: 1px solid #DBDBDB;
}

.submitButton:hover {
    background-image: url(../images/search_button_background_hover.png);
    cursor: pointer;
}

/*Styles for slide buttons*/
a.first-link {
    color: white !important;
    text-decoration: none;
    text-align: center;
    display: block;
}

a.second-link {
    color: white !important;
    text-decoration: none;
    text-align: center;
    display: block;
}

.slide-btn, .first-link, .second-link {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
}

.slide-btn {
    height: 200px;
    font: normal normal 700 1em/2em Verdana, sans-serif;
    overflow: hidden;
    width: 232px;
    background-color: #5d5d5d;
    margin-bottom: 10px;
}

.slide-btn:hover {
    background-color: #5e0009;
}

.slide-btn a:hover {
    text-decoration: none;
}

.first-link {
    margin-top: 4em;
    margin-bottom: 3.5em;
}

.second-link {
    margin-top: auto;
    margin-bottom: auto;
}

.second-link:hover {
    color: #000000;
}

.slide-btn:hover .first-link {
    margin-top: -9em;
}
/*End slide button styles*/

/*4 column layout*/
.threeColumn {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
    margin-top: 10px;
    height: 621px;
}
/*End 4 column layout*/

#navigation {
    background-color: #5e0009;
    height: 65px;
    margin-bottom: 4px;
}

#banner {
    padding-bottom: 5px;
    border-bottom: 5px;
    border-color: #5e0009;
    border-bottom-style: solid;
    background-image: url(../images/homepageBanners/mobileBanner.png);
    background-repeat: no-repeat;
    margin-bottom: 5px;
    height: 210px;
}

#banner #bar {
    height: 45px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 18px;
    color: #FFF;
    text-align: center;
    padding-top: 20px;
    float: left;
    width: 960px;
    margin-top: 160px;
    background-image: url(../images/homepageBanners/bar.png);
    background-repeat: no-repeat;
}

#bar {
}

#navigation ol {
    float: right;
    padding-top: 25px;
    padding-right: 10px;
}

#navigation ol li {
    display: inline;
}

#navigation ol li a {
    text-decoration: none;
    padding: 6px;
    color: #fff;
}

#navigation ol li a:hover {
    color: #f0f0f0;
    background-color: #660D16;
}


/* This is the layout setup for a two column layout */

#tutWrap {
    padding-left: 12px;
}

#content {
    padding-top: 0px;
}

.imgBorder {
	border:1px solid #f0f0f0;
    padding:5px;
	margin:10px;
	float:none;
    max-width: 600px;
}

.imgBorderFloatLeft {
    border: 1px solid #f0f0f0;
    padding: 5px;
    margin: 10px;
    float: left;
}

.labText {
    margin: 10px;
}

#leftColumn {
    width: 660px;
    float: left;
    font-family: Helvetica;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.5em;
    padding-bottom: 25px;
}


#leftColumn #tutorial table {
    width: 575px;
    border: 2px solid #5e0009;
    margin-bottom: 10px;
    margin-left: 10px;
}

#leftColumn #tutorial th {
    background-color: #5e0009;
    color: #fff;
    padding: 6px;
}

#leftColumn #tutorial td {
    padding: 3px;
}
/*
#leftColumn p
{
text-indent: 1.6em;
}
*/
#leftColumn #tutorial tr:nth-child(even) {
    background-color: #f0f0f0;
}


#leftColumn #tutorial td {
    padding-left: 10px;
}

#tutorial ol {
    list-style-type: decimal-leading-zero;
    list-style-position: outside;
}

#tutorial ol li {
    padding: 4px;
    margin-left: 35px;
}

#tutorial ul {
    list-style-type: square;
    list-style-position: outside;
    margin-left: 30px;
}

#tutorial ul li {
    margin-bottom: 4px;
}

#tutorial ul li ul li {
    list-style-type: circle;
    list-style-position: outside;
    margin-left: 10px;
}

#tutorial ul li ul li ul li {
    list-style-type: disc;
    list-style-position: outside;
    margin-left: 10px;
}

.shadowBox {
    border: 1px solid #ccc;
}

#leftColumn h2 {
    font-family: Helvetica, Verdana, Arial, San Serif;
    font-size: 18px;
    background-color: #000;
    width: 640px;
    padding: 10px;
    color: #FFF;
}

#leftColumn h3 {
    font-family: Helvetica, Verdana, Arial, San Serif;
    font-size: 16px;
}

#leftColumn a {
    color: #5e0009;
    text-decoration: underline;
}

#leftColumn a:hover {
    color: #5e0000;
    text-decoration: none;
}

#leftColumn .date {
    background-color: #f0f0f0;
    padding: 2px;
}

#leftColumn .lists ul {
}

#leftColumn .lists li {
    margin-left: 22px;
    line-height: 22px;
    list-style-position: outside;
    list-style-type: square;
}

.recommended {
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    background-color: #FFF4F4;
    padding: 2px;
}

.recommended :hover {
    border-style: solid;
    border-color: #999;
    border-width: 1px;
    background-color: #FFE6E6;
    padding: 6px;
}

#leftColumn .answer img {
    border: none;
    padding: 5px;
}

.superPlain {
    padding-left: 1.0em;
}

.superPlain {
    line-height: 1.6em;
}

.slickBox {
    margin-left: 1.5em;
    background-color: #f0f0f0;
    line-height: 1.7em;
    padding: 0.5em;
}

.labBox {
    width: 150px;
    float: left;
    margin: 5px;
}

.center {
    text-align: center;
}

.clear {
    clear: both;
    height: 1px;
    overflow: hidden;
}

.welcome p {
    padding-bottom: 0.6em;
}
/* end of two column layout */

/* This is the layout setup for a single column layout */
#fullWidth {
    width: 660px;
    float: left;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 25px;
    font-family: Helvetica;
    font-size: 14px;
    line-height: 1.5em;
}

#fullWidth #block h3 {
    padding-top: 0px;
}

#fullWidth #block #left-info-block {
    height: 100px;
    padding: 20px;
    float: left;
    width: 410px;
    margin-right: 20px;
    background-color: #f0f0f0;
}

#fullWidth #block #right-info-block {
    height: 100px;
    padding: 20px;
    float: left;
    width: 435px;
    background-color: #f0f0f0;
}

#fullWidth form label {
    width: 160px;
    float: left;
    text-align: left;
    font-size: 14px;
    margin-right: 10px;
}

#fullWidth fieldset {
    margin-left: 4px;
    padding-bottom: 20px;
    border: 1px solid #f0f0f0;
    padding: 6px;
    margin: 10px;
    width: 438px;
}

#fullWidth legend {
    background-color: #f0f0f0;
    color: #333;
    font-size: 16px;
    font-family: Helvetica, Verdana, Geneva, sans-serif;
    padding: 5px;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

#fullWidth form input {
    font-size: 14px;
    padding: 6px;
}

#fullWidth form #areaCode input {
    font-size: 14px;
    padding: 6px;
    width: 60px;
}

#fullWidth form .radio {
    padding: 6px;
    width: 25px;
}

#fullWidth form select {
    font-size: 14px;
    padding: 6px;
    width: 240px;
}

#fullWidth form textarea {
    font-size: 14px;
    padding: 8px;
    width: 400px;
}

#fullWidth form .submit {
    font-size: 14px;
    padding: 4px;
    width: 120px;
    margin-top: 10px;
    margin-left: 175px;
    border: none;
}

#fullWidth form .submit:hover {
    background-color: #5e0009;
    color: #fff;
    cursor: pointer;
}

#fullWidth form input:focus {
    background-color: #f0f0f0;
}

#fullWidth form textarea:focus {
    background-color: #f0f0f0;
}

#fullWidth form select:focus:hover {
    background-color: #f0f0f0;
}

#fullWidth form ul {
    width: 100%;
    list-style: none;
    margin: 10px 0 0 0;
    padding: 0;
}

#fullWidth form ul li {
    list-style: none;
    margin: 0;
    padding: 10px;
}

#areaCode {
    width: 10px;
}
/* end of single column layout */

/* EMPLOYMENT.PHP SPECIFIC CSS */

#empCopy {
    background-color: #000;
    color: #f1f1f1;
    font-family: Helvetica;
    font-size: 16px;
    font-style: italic;
    line-height: 22px;
    margin-bottom: 2px;
    padding: 10px;
    text-align: center;
}

#empBoxWrapper {
    width: 690px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 22px;
    margin-bottom: auto;
    padding: 5px;
    font-family: Helvetica;
    line-height: 22px;
}

.empBox {
    width: 305px;
    height: 200px;
    float: left;
    padding: 14px;
    font-family: inherit;
    line-height: inherit;
    font-size: 12px;
    background-color: #FFF0F0;
    margin: 6px;
}

.empBox h2 {
    line-height: 22px;
    font-size: 18px;
    font-style: normal;
}

.empBoxFooter {
    background-color: #000;
    padding: 6px;
    width: 666px;
    clear: both;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #FFF;
    font-style: italic;
}

.empBoxFooter a {
    color: #FFF;
}

.empBoxFooter a:hover {
    text-decoration: none;
}

.siteUpdates {
    padding: 10px;
    line-height: 22px;
}

ul.siteUpdates li {
    padding-bottom: 10px;
    margin: 5px;
    background-color: #FFF4F4;
}

ul.siteUpdates li a {
    color: #5e0009;
}

ul.siteUpdates li a:hover {
    color: #333;
    text-decoration: none;
}

.siteUpdates sup {
    font-size: 10px;
}


#alertBox {
    width: 300px;
    background-color: #B99094;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

p.contactError {
    padding: 6px;
    margin-bottom: 4px;
    background-color: #FFA6A6;
    font-style: italic;
}

p.contactError:hover {
    padding: 6px;
    background-color: #000;
    font-style: italic;
    color: #fff;
}

.error {
    background-color: #FFA6A6;
    border: thin #000 solid;
}

.hasError {
    background-color: #FFA6A6;
    font-style: italic;
    width: 300px;
    margin-left: 300px;
    margin-right: 340px;
    margin-top: 10px;
    padding: 5px;
    text-align: center;
    border: 1px #333 dashed;
}

.success {
    background-color: #3C6;
    font-style: italic;
    width: 300px;
    margin-left: 300px;
    margin-right: 340px;
    margin-top: 10px;
    padding: 5px;
    text-align: center;
    border: 1px #333 dashed;
}

.failure {
    background-color: #edfd7c;
    font-style: italic;
    width: 300px;
    margin-left: 300px;
    margin-right: 340px;
    margin-top: 10px;
    padding: 5px;
    text-align: center;
    border: 1px #333 dashed;
}

#boxWrap {
    display: inline-block;
    display: block;
    overflow: hidden;
    background-color: #f0f0f0;
    width: 280px;
    text-align: center;
}

/* RIGHT COLUMN SPECIFIC CSS */
#rightColumn {
    width: 280px;
    float: left;
    padding-left: 20px;
}

#rightColumn #box {
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    text-align: left;
    padding: 0px;
    font-family: Helvetica, Georgia, "Times New Roman", Times, serif;
}

#rightColumn h2 {
    font-family: Helvetica, Verdana, Geneva, sans-serif;
    font-size: 14px;
    color: #333;
}

#rightColumn h2 a {
    color: #333;
    text-decoration: none;
}

#rightColumn h2 a:hover {
    color: #000;
    text-decoration: underline;
}

#rightColumn ul {
    padding: 4px;
}

#rightColumn img {
    vertical-align: middle;
    padding-right: 5px;
}

#rightColumn ul li {
    font-size: 14px;
    margin-bottom: 5px;
    padding: 1px;
}

rightColumn ul li ul {
    list-style: circle;
}

#rightColumn ul li ul li {
    margin-left: 10px;
    padding: 1px;
    list-style-type: square;
    list-style-position: inside;
}

#rightColumn ul li a {
    color: #5e0009;
    text-decoration: none;
}

#rightColumn ul li a:hover {
    color: #5e0009;
    text-decoration: underline;
}

#column {
    text-align: left;
    float: left;
    width: 150px;
}

.answer {
    background-color: #f0f0f0;
    padding: 6px;
    margin: 10px;
}

.answer a {
    color: #5e0009;
}

.answer a:hover {
    text-decoration: none;
}

.paragraph {
    padding: 8px;
}

.paragraph a {
    color: #5e0009;
}

.paragraph a:hover {
    text-decoration: none;
}

.indent {
    margin-left: 10px;
    padding: 5px;
}
/*Footer Styles start*/

#subFooter {
    clear:  both;
    padding: 6px;
    background-color: #333;
    text-align: center;
}

#subFooter a {
    width: 90px;
    height: 93px;
    font-size: 2.8em;
    text-align: center;
    line-height: 100px;
    background-color: #FFF;
    -webkit-transition: all 0.5 ease;
    -moz-transition: all 0.5 ease;
    -ms-transition: all 0.5 ease;
    -o-transition: all 0.5 ease;
    transition: all 0.5s ease;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-decoration: none !important;
    opacity: 0.5;
}

#subFooter a:hover {
    text-align: center;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    border-radius:  100px;
    opacity: 1;
}

/*Footer Styles start*/