/*stylesheet for the tutorial pages*/
body {
	font-family:Arial, sans-serif;
	background: #ccc; 
    margin: 0;
}

#header {
    margin: 0;
    height: 15em;
    background: #5E0009;
}

#header img {
    height: 95%;
}

#nav {
    margin: 0;
    height: 6em;
    background: #303031;
    top: 5em;
}

#nav ul {
    margin: auto;
    width: 100%;
    list-style-type: none;
    padding: 0;
}

#nav a {
    height: 6em;
    color: #fff;
    text-decoration: none;
}

#nav a li {
    margin: auto;
    padding-top: .5em;
    padding-bottom: .5em;
    width: 33%;
    height: 1em;
    float: left;
    font-size: 3em;
    text-align: center;
}

li.selected {
    border-bottom: 10px solid #fff;
}

#nav li:nth-child(1) {
    border-right: 3px solid #fff;
}

#content h3 {
    text-align: center;
}

#content ol {
    padding: 0;
    margin: .75em;
    margin-left: 4em;
}

#content p, ol li {
    padding:.5em;
    margin: 0em 1em 0em 1em;
    background: #e0e0e0;
    -webkit-box-shadow: 5px 5px 5px #000;
}

#content img {
    width: 55em;
    margin: 1em .1em 1em 0em;
}