/* Built in reset for ResNet (all uncessary tags removed to improve speed)
   Between here and custom ResNet site CSS, this is a mobile reset that is usable on all sites, and should be used)
   Author @ Jeremiah Sherrill
   Date @ 12-04-2010
   Updated @ 01-06-2011
*/
html, body, div, span, h1, h2, h3, p, em, font, img, small, strike, strong,
sub, sup, b, u, i, center, ol, ul, li{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
/* Changed default font to arial for mobile devices, it renders better on phones)*/
body {
	
	line-height: 1;
	font-family:Arial, sans-serif; 
	line-height:1.5; 
	font-size:1.0em; 
	background: #fff; 
	padding:5px; 
	color: #000; 
	word-wrap: break-word;
	-webkit-text-size-adjust: none;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
:focus {
	outline: 0;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
/* Begin primary mobile CSS*/

body {
	margin:0px;
	padding:0px;
	background-color:#ccc;
}

#wrapper {}

#header {
	height:140px;
	background-color:#5e0009;
}

#header .logo {
	width:190px;
	height:100px;
	margin-top: 10px;
	margin-left: 10px;
	float:left;
	position:absolute;
}
h1 {
	font-size:1.6em;
	text-align:center;
}
#navBar {
	background-image:url(../images/navBackGround.png);
	background-repeat:repeat-x;
	height:60px;
	font-family:Verdana, sans-serif;
	padding-right:20px;
}

#navBar ul {
	text-align:center;
	padding-top:10px;
	min-width:315px;
}

#navBar ul li {
	display:inline;
	text-shadow: 2px 2px 2px #000;
	padding-left:10px;
	
	
	
}
#navBar ul li a {
	text-decoration:none;
	color:#fff;
	padding-top:10px;
	
	padding-left:0px;
	padding-right:0px;
}
#navBar ul li a:hover {
	background-color:#000;
	color:#fff;

}



.navText {
	font-size:22px;
}
#content {
	padding:.5em;
}
#content p {
	font-family:Georgia, san serif;
	font-size:.9em;
	padding:.5em;
	line-height:1.5em;
	background-color:#999;
	margin:.5em;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;

	
}

h1 {
	font-size:1.4em;
}
#tutorialWrapper {
	width:100%
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	
}
.tutorial {
	width:150px;
	padding:2px;
	float:left;
	padding-bottom:2px;
}


#footer {
	background-color:#333;
	color:#FFF;
	font-family:Verdana;
	font-size:.75em;
	height:2.9em;
	clear:both;
}
#footer p {
	text-align:center;
	padding-top:.5em;
}